

footer{
    width: 101%;
    background: #5095AB  ;
    color: black;   
    margin-left: -5px;

}

.container-footer-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 10px;
    
}

.container-body{
    display: flex;
    justify-content: space-between;
    
}

.colum1{
    max-width: 400px;
}

.colum1 h1{
    font-size: 22px;
}

.colum1 p{
    font-size: 17px;
    color: black;
    margin-top: 20px;
}

.colum2{
    max-width: 400px;

}

.colum2 h1{
    font-size: 22px;
}


.row{
    margin-top: 20px;
    display: flex;
}

.row img{
    width: 36px;
    height: 36px;
}

.row label{
    margin-top: 10px;
    margin-left: 20px;
    color: black;
    font-size: 17px;
}

.colum3{
    max-width: 400px;
}

.colum3 h1{
    font-size: 26px;
}

.row2{
    margin-top: 20px;
    display: flex;
}

.row2 img{
    width: 36px;
    height: 36px;
}

.row2 label{
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
    font-size: 17x;
}

.container-footer{
    width: 100%;  
    background: #41788A ;
}

.footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;  
    padding: 15px;

}

.copyright{
    color: black;
}

.copyright a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.information a{
    text-decoration: none;
    color: black;
}


@media screen and (max-width: 1100px){

    .container-body{
        flex-wrap: wrap;
    }

    .colum1{
        max-width: 100%;
    }

    .colum2,
    .colum3{
        margin-top: 40px;
    }
}

